*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: color .1s,background-color .5s,box-shadow .5s;
}
html,body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--theme-bg);
    color: var(--theme-color);
}

.text-button-warning{
    color: #E6A23C;
    &:hover{
        color: #E6A23C;
    }
}
.text-button-danger{
    color: #F56C6C;
    &:hover{
        color: #F56C6C;
    }
}

/* ::-webkit-scrollbar 滚动条整体部分，可以设置宽度啥的
::-webkit-scrollbar-button 滚动条两端的按钮
::-webkit-scrollbar-track 外层轨道
::-webkit-scrollbar-track-piece 内层滚动槽
::-webkit-scrollbar-thumb 滚动的滑块
::-webkit-scrollbar-corner 边角
::-webkit-resizer 定义右下角拖动块的样式 */
/* ::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--theme-shadow2);
}
::-webkit-scrollbar-track-piece {
    background-color: var(--theme-shadow1);
} */

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: #b8b9be;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff;
}
  