:root {
    --theme-color: #333;
    --theme-color1: rgba(0,0,0,.6);
    --theme-bg: #e6e7ee;
    --theme-shadow1: #fff;
    --theme-shadow2: #b8b9be;
}

html.dark{
    color-scheme: dark;
}

.dark{
    --theme-color: #f1f1f1;
    --theme-color1: rgba(255,255,255,.6);
    --theme-bg: #292d32;
    --theme-shadow1: #3e4247;
    --theme-shadow2: #1d1f23;
}